[Unit]
Description=modbus to mqtt server
After=basic.target
[Service]
Type=simple
ExecStart=/usr/local/bin/modbus2mqtt 
Restart=on-abort
#User=TBA
StandardOutput=syslog
[Install]
WantedBy=multi-user.target
